/* #region Colors */

$fuschia-light:         #FD3E81;
$fuschia:               #D81159;
$grey-dark:             #4d4d4d;
$black-off:             #333333;
$black:                 #000000;
$gold:                  #FFBA08;
$turquoise:             #05A8AA;
$mint:                  #17BEBE;
$teal:                  #218380;
$seafoam:               #2CA58D;
$blue:                  #064789;
$white-off:             #dddddd;
$white:                 #FFFFFF;
$lime:                  #8EA604;
$orange:                #E4572B;
$orange-light:          #D76A03;
$red:                   #BF3100;

/* #endregion */

/* #region Syntax */

@mixin syntax($theme) {
  $syntax-base-background:          if($theme == dark, #222222, #f6f6f6);
  $syntax-base-gray:                if($theme == dark, #dddddd, #535353);
  $syntax-base-gray-subtle:         if($theme == dark, #767676, #949494);
  $syntax-base-gray-strong:         if($theme == dark, #eeeeee, #222222);
  $syntax-base-orange:              if($theme == dark, #d89333, #e88501);
  $syntax-base-green:               if($theme == dark, #85a300, #6d8600);
  $syntax-base-green-subtle:        if($theme == dark, #6d8600, #85a300);
  $syntax-base-red:                 if($theme == dark, #e64946, #dc322f);
  $syntax-base-blue:                if($theme == dark, #6c9ef8, #446fbd);
  $syntax-base-blue-subtle:         if($theme == dark, #8487c8, #6c71c4);
  $syntax-base-purple:              if($theme == dark, #b77fdb, #8757ad);
  $syntax-base-pink:                if($theme == dark, #d85896, #d33682);

  & {
    --color-syntax-background:  #{$syntax-base-background};
    --color-syntax-default:     #{$syntax-base-gray};
    --color-syntax-atom:        #{$syntax-base-orange};
    --color-syntax-attribute:   #{$syntax-base-green};
    --color-syntax-bracket:     #{$syntax-base-gray-strong};
    --color-syntax-builtin:     #{$syntax-base-blue};
    --color-syntax-comment:     #{$syntax-base-gray-subtle};
    --color-syntax-def:         #{$syntax-base-purple};
    --color-syntax-em:          #{$syntax-base-blue};
    --color-syntax-error:       #{$syntax-base-red};
    --color-syntax-header:      #{$syntax-base-pink};
    --color-syntax-hr:          #{$syntax-base-orange};
    --color-syntax-keyword:     #{$syntax-base-blue};
    --color-syntax-link:        #{$syntax-base-purple};
    --color-syntax-meta:        #{$syntax-base-gray};
    --color-syntax-minus:       #{$syntax-base-red};
    --color-syntax-negative:    #{$syntax-base-red};
    --color-syntax-number:      #{$syntax-base-green};
    --color-syntax-operator:    #{$syntax-base-gray};
    --color-syntax-plus:        #{$syntax-base-green-subtle};
    --color-syntax-positive:    #{$syntax-base-green-subtle};
    --color-syntax-property:    #{$syntax-base-purple};
    --color-syntax-qualifier:   #{$syntax-base-blue};
    --color-syntax-quote:       #{$syntax-base-blue};
    --color-syntax-rangeinfo:   #{$syntax-base-blue-subtle};
    --color-syntax-string-2:    #{$syntax-base-orange};
    --color-syntax-string:      #{$syntax-base-orange};
    --color-syntax-strong:      #{$syntax-base-gray-strong};
    --color-syntax-tag:         #{$syntax-base-blue};
    --color-syntax-type:        #{$syntax-base-orange};
    --color-syntax-variable-2:  #{$syntax-base-gray};
    --color-syntax-variable-3:  #{$syntax-base-gray};
    --color-syntax-variable:    #{$syntax-base-gray};
    --color-syntax-whitespace:  #{$syntax-base-gray-subtle};
  }
}

/* #endregion */
